.imageContainer {
  flex: 1 1 auto;
  display: block;
  align-items: center;
  border: 5px dashed #ff007f;
  border-radius: 50%;
}

.image {
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
}

.imageContainer:hover {
  border: 5px solid #ff007f;
}

.card {
  border-width: 0px;
}

.cardBody {
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  padding: 40px;
  border-radius: 50%;
  border: 5px dashed #ff007f;
}

.cardBody:hover {
  border: 5px solid #ff007f;
}
