.image {
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
}

.image:hover {
  cursor: pointer;
}

.card {
  border: 5px dashed #ff007f;
}

.card:hover {
  border-style: solid;
}

.cardFront {
  border-radius: 50%;
}
.cardBack {
  border-radius: 20px;
}

.cardBody {
  max-height: 100%;
  padding: 15px;
}
