.title {
    flex: 0.9;
    margin: 0.5em 0;
    font-weight: 500;
}

.TBAIcon {
    width: 25px;
    border-radius: 50%;
}

.iconContainer {
    flex: 0.2;
    display: flex;
    justify-content: end;
    margin-right: 5%;
}