.linkDefault {
  color: #ffffff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkNavBrand {
  text-decoration: none;
  display: inline-block;
}

.linkDefault:hover {
  color: black;
}

.dropDefault {
  color: #FF007f;
  text-decoration: none;
  display: inline-block;
}

.linkActive {
  color:  black;
}

.navBackground {
  background-color: #FF007f;
}