.linkDefault {
  color: #ffffff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkDefault:hover {
  color: black;
}

.dropDefault {
  color: #FF0066;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.dropdown-toggle {
  color: #ffffff;
}

a.dropdown-toggle:hover{
  color: black;
}

.linkActive {
  color:  black;
}

.navBackground {
  background-color: #FF0066;
}