.footer {
    background-color: #FF007f;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 24px;
    color: white;
    text-align: center;
}

.column {
  margin-bottom: 0.5em;
}

.footer hr {
  margin: 0;
  margin-bottom: 0.5em;
}